* {
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body {
    text-align: center;
    background-color: black;
    color: goldenrod;
    font-family: 'Turret Road', cursive;
}

.hidden {
    display: none;
    font-size: 0;
}

h1 {
    width: 30%;
    margin: 0 35%;
    padding-top: 20px;;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 40px;
}

#intro {
    font-size: 24px;
    display: inline-block;
    padding: 5px 200px;
}

canvas {
    height: 500px;
    width: 70%;
    margin: 5% auto;
    border-left: 2px solid goldenrod;
    border-right: 2px solid goldenrod;
    border-radius: 20px;
    background-color: white;
}

#wordInPlay {
    display: flex;
    justify-content: space-around;
    margin: 0 25%;
    height: 100px;
    width: 50%;
    border-bottom: 2px solid white;
    border-radius: 60px;
}

.turn {
   font-size: 40px;
}

#letters {
    margin: 5%;
    border-top: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod;
    border-radius: 35px;
    height: auto;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    font-size: 24px;
    margin-top: 30px;
    padding-left: 0;
    margin-left: 0;

}

li {
    list-style-type: none;
    border: 2px solid goldenrod;
    color: goldenrod;
    height: 50px;
    width: 50px;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    cursor: pointer;
}

li:hover {
    background-color:grey;
    opacity: .9;
}

.button {
    height: 70px;
    width: 140px;
    border: none;
    border-top: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod;
    border-radius: 20px;
    background-color: black;
    font-size: 20px;
    color: white;
}

.button:hover {
    background-color:royalblue;
}

.gameEnd {
    font-size: 30px;
    height: 100px;
}